<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">


<!-- http://wiki.apache.org/logging-log4j/Log4jXmlFormat -->

<!-- El link de abajo explica como cambiar el formato del log 
 
 https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/EnhancedPatternLayout.html  -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" /> <!-- [%15.15t] indica el thread  -->
		</layout>
	</appender>


	<appender name="WsAteneaFile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/WsAtenea/logWsAtenea.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>

	<appender name="cxfAteneaFile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/WsAtenea/logCxfAteneaFile.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>

	<appender name="AiEngineFile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/AiEngine/logAiEngine.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>

	<appender name="AiEngineAccessFile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file"
			value="C:/Desarrollo/log/AiEngineAccess/logAiEngineAccess.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>

	<appender name="DataLoaderFile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/DataLoader/logDataLoader.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>

	<appender name="DataAccessFile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/DataAccess/logDataAccess.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="TraceFile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/Trace/logTraceFile.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>

    <!-- El log default es la union de todos los logs capturados   -->
	<appender name="defualtfile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/defaultFile.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>


	<!-- EL log de other debería ser el mismo de default, si no lo es significa que algo no se está loguenado en default  -->
	<appender name="otherfile" class="org.squadra.atenea.base.AteneaRollingFileAppender">
		<param name="file" value="C:/Desarrollo/log/Other/logOtherfile.log" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="10" />
		<param name="append" value="false" />
		<param name="bufferedIO" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%-35.35c{2} ] %-5p %x - %m%n" />
		</layout>
	</appender>


	<!-- A continuacion defino en que appender se escribe que cosa -->


	<logger name="org.aspectj">
		<level value="trace" />
		<appender-ref ref="TraceFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="org.squadra.atenea.ateneaws">
		<level value="WARN" />
		<appender-ref ref="WsAteneaFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="org.squadra.atenea.aiengine">
		<level value="all" />
		<appender-ref ref="AiEngineFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="org.apache.cxf">
		<level value="WARN" />
		<appender-ref ref="cxfAteneaFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="org.springframework.data.neo4j">
		<level value="WARN" />
		<appender-ref ref="WsAteneaFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="javax.servlet">
		<level value="WARN" />
		<appender-ref ref="DataAccessFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="org.squadra.atenea.aiengineaccess">
		<level value="WARN" />
		<appender-ref ref="AiEngineAccessFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="org.squadra.atenea.dataloader">
		<level value="WARN" />
		<appender-ref ref="DataLoaderFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<logger name="org.squadra.atenea.data">
		<level value="WARN" />
		<appender-ref ref="DataAccessFile" />
		<appender-ref ref="defualtfile" />
	</logger>

	<root>
		<priority value="WARN" />
		<appender-ref ref="otherfile" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>

<!-- 

WARN: este es el nivel de mínimo detalle, deshabilita todos los logs.
FATAL: se utiliza para mensajes críticos del sistema, generalmente después de guardar el mensaje el programa abortará.
ERROR: se utiliza en mensajes de error de la aplicación que se desea guardar, estos eventos afectan al programa pero lo dejan seguir funcionando, como por ejemplo que algún parámetro de configuración no es correcto y se carga el parámetro por defecto.
WARN: se utiliza para mensajes de alerta sobre eventos que se desea mantener constancia, pero que no afectan al correcto funcionamiento del programa.
INFO: se utiliza para mensajes similares al modo "verbose" en otras aplicaciones.
DEBUG: se utiliza para escribir mensajes de depuración. Este nivel no debe estar activado cuando la aplicación se encuentre en producción.
TRACE: se utiliza para mostrar mensajes con un mayor nivel de detalle que debug.
ALL: este es el nivel de máximo detalle, habilita todos los logs (en general equivale a TRACE).

 -->